
/*  General  */

body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #ffe6e6;
      color: #fff;
    }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
   color: #B03C3C;
}

/*  Intext  */
    
.hero-split {
  display: flex;
  height: 90vh;
  width: 100%;
}

.slider {
  flex: 1;
  animation: cambioFondo 15s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.texto-hero {
  flex: 1;
  background-color: #fff9e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  color: #000;
}

.texto-hero h1 {
  font-size: 40px;
  color: #B03C3C;
  margin-bottom: 20px;
}

.texto-hero button {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.texto-hero button:hover {
  background-color: #B03C3C;
  color: #fff;
}

@keyframes cambioFondo {
  0%   { background-image: url('img/fondo1.jpg'); }
  33%  { background-image: url('img/fondo2.jpg'); }
  66%  { background-image: url('img/fondo3.jpg'); }
  100% { background-image: url('img/fondo4.jpg'); }
}

/*  Productos  */

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.producto {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: #000;
}

.producto img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 8px;
}
    
.producto h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #B03C3C;
}
    
/*CARRUSEL*/

.carousel {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  border-radius: 8px;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  z-index: 10;
}

.carousel .prev {
  left: 10px;
}

.carousel .next {
  right: 10px;
}

.carousel button:hover {
  background-color: #FFD166;
  color: #E63946;
}

/* CHAROLAS Y MIXES */

.charolas h2 {
  text-align: center;
  color: #E63946;
  margin-top: 40px;
  font-size: 28px;
  border-bottom: 2px solid #FFD166;
  padding-bottom: 10px;
}

/* NOSOTROS */

.nosotros-container {
  display: flex;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  color: #000;
}

.nosotros-slider {
  flex: 1;
  animation: sliderCarrusel 15s infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes sliderCarrusel {
  0%   { background-image: url('img/pedido1.jpg'); }
  33%  { background-image: url('img/pedido2.jpg'); }
  66%  { background-image: url('img/pedido3.jpg'); }
  100% { background-image: url('img/pedido1.jpg'); }
}

.nosotros-contenido {
  flex: 2;
  background-color: #fff9e6;
  padding: 150px;
  overflow-y: auto;
}

.nosotros-contenido h2 {
  color: #000;
  margin-top: 0;
}

.nosotros-contenido p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Caja de comentarios */
.comentario-caja {
  background-color: #000;
  border: 2px solid #B03C3C;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(223, 26, 26, 0.1);
}

.comentario-caja h3 {
  color: #fff;
  margin-bottom: 15px;
}

.comentario-caja form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comentario-caja input,
.comentario-caja textarea,
.comentario-caja select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.comentario-caja button {
  background-color:#B03C3C;
  color: #fff;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.comentario-caja button:hover {
  background-color: #611010;
  color: #fff;
}

.nosotros-footer {
  background-color: #000;
  text-align: center;
  padding: 20px;
}

.nosotros-footer a {
  font-weight: bold;
  color: #E63946;
  text-decoration: none;
}

.nosotros-footer a:hover {
  text-decoration: underline;
}

/* */
